* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4f46e5;
  --secondary: #7c3aed;
  --text: #172033;
  --muted: #667085;
  --bg: #f6f7fb;
  --card: #ffffff;
  --border: #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: 72px;
  padding: 0 6%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid var(--border);
}

.logo {
  font-size: 23px;
  font-weight: 800;
}

.logo span {
  color: var(--primary);
}

.navbar nav {
  display: flex;
  gap: 25px;
}

.navbar nav a {
  text-decoration: none;
  color: #34384b;
  font-weight: 600;
}

.navbar nav a:hover {
  color: var(--primary);
}

.theme-btn {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;

  background: #eef0f8;

  cursor: pointer;
  font-size: 18px;
}

/* HERO */

.hero {
  width: min(1200px, 90%);
  min-height: 650px;

  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;

  gap: 60px;

  padding: 80px 0;
}

.badge {
  display: inline-block;

  padding: 8px 15px;

  border-radius: 30px;

  background: #eeeeff;

  color: var(--primary);

  font-weight: 700;

  margin-bottom: 20px;
}

.hero h1 {
  font-size: clamp(45px, 7vw, 78px);

  line-height: 1.05;

  margin-bottom: 25px;
}

.hero h1 span {
  color: var(--primary);
}

.hero p {
  max-width: 650px;

  color: var(--muted);

  font-size: 19px;

  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.primary-btn,
.secondary-btn {
  padding: 14px 22px;

  border-radius: 12px;

  text-decoration: none;

  font-weight: 700;
}

.primary-btn {
  background: var(--primary);
  color: white;
}

.secondary-btn {
  background: white;
  color: var(--text);

  border: 1px solid var(--border);
}

/* HERO VISUAL */

.hero-visual {
  min-height: 400px;

  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;
}

.main-card {
  width: 310px;

  padding: 40px;

  background: white;

  border-radius: 25px;

  text-align: center;

  box-shadow: 0 25px 70px rgba(60,60,100,0.15);
}

.card-icon {
  font-size: 70px;
  margin-bottom: 15px;
}

.floating-card {
  position: absolute;

  padding: 14
